{% assign oss = site.data.data.oss %}
{% if oss %}
<section class="section oss-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
    </span>
    {{ oss.title }}
  </h2>

  {% if oss.intro %}
  <div class="intro">
    <p>{{ oss.intro }}</p>
  </div>
  <!--//intro-->
  {% endif %}

  {% for contribution in oss.contributions %}
  <div class="item">

    <h3>{{ contribution.title }}</h3>
    {% if contribution.details %}
    <div class="details">
      {{ contribution.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div>
  <!--//item-->
  {% endfor %}

</section>
<!--//section-->
{% endif %}
